<div class="bg-dark p-3.5 px-4 flex justify-between items-center space-x-4">
  <img class="max-w-[38px] h-auto" src="/assets/img/logo.png" alt="cson" />

  <div class="flex items-center gap-4 justify-end">
    <div class="flex items-center space-x-2 bg-dark-2 py-1 px-2 rounded-lg">
      <img
        class="max-w-[16px] h-auto"
        src="/assets/img/logo_puntos.png"
        alt="puntos"
      />
      <span class="text-white">{{ points | number }}</span>
    </div>

    <a class="flex items-center" href="#">
      <span class="material-symbols-outlined text-white text-3xl">menu</span>
    </a>
  </div>
</div>
