<div class="text-white flex flex-col h-screen bg-dark-2 justify-center">
  <div class="flex flex-col gap-6 p-4">
    <h1 class="text-3xl font-bold">¿Cómo funciona?</h1>
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex gap-2">
          <span class="material-symbols-outlined text-green">
            check_circle
          </span>
          <p class="font-normal">Busca comercios en la app</p>
        </div>
      </li>
      <li>
        <div class="flex gap-2">
          <span class="material-symbols-outlined text-green">
            check_circle
          </span>
          <p class="font-normal">Realiza compras en los comercios</p>
        </div>
      </li>
      <li>
        <div class="flex gap-2">
          <span class="material-symbols-outlined text-green">
            check_circle
          </span>
          <p class="font-normal">Escanea los QR de tus tickets</p>
        </div>
      </li>
      <li>
        <div class="flex gap-2">
          <span class="material-symbols-outlined text-green">
            check_circle
          </span>
          <p class="font-normal">Suma 1 PUNTO por cada 0,10 €</p>
        </div>
      </li>
      <li>
        <div class="flex gap-2">
          <span class="material-symbols-outlined text-green">
            check_circle
          </span>
          <p class="font-normal">Acumula PUNTOS</p>
        </div>
      </li>
      <li>
        <div class="flex gap-2">
          <span class="material-symbols-outlined text-green">
            check_circle
          </span>
          <p class="font-normal">Canjea tus PUNTOS por recompensas</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="flex w-full fixed bottom-4 justify-center">
    <button (click)="goToMenu()" class="bg-green py-2 rounded-md w-80 font-medium text-dark-2">
      Volver
    </button>
  </div>
</div>
