<div (click)="navigateToRewardDetail()" class="mb-3">
  <div class="rounded-lg overflow-hidden shadow-lg">
    <div class="relative bg-dark">
      <img [ngStyle]="redeemed ? {'filter': 'grayscale(1)'} : {}" class="w-full h-full object-cover"
        src="assets/img/business/el-raco-del-cremaet/rewards/carajillo-premium.webp" alt="Header image" />
      <ng-container *ngIf="!redeemed">
        <div class="absolute inset-0 bg-dark bg-opacity-20 flex flex-col items-center justify-center px-4 py-6">
          <img class="w-16 mb-2" src="assets/img/business/el-raco-del-cremaet/logo.webp" alt="Logo" />
          <div class="text-white">
            <div class="font-bold text-xl">El Racó del Cremaet</div>
            <p class="text-sm">Calle de Vetusta 25, Castellón</p>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Cremaet Receta Secreta</div>
      <p class="text-gray-700 text-base">
        Sumérgete en el misterio y la tradición con nuestro Cremaet de Receta
        Secreta. Este brebaje, guardado bajo siete llaves, lleva c...
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <ng-container *ngIf="!redeemed; else redeemedBlock">
        <app-progress-bar [totalPoints]="totalPoints"></app-progress-bar>
      </ng-container>
      <ng-template #redeemedBlock>
        <div
          class="bg-gray-2 w-full text-dark font-bold py-3 px-4 rounded flex align-center justify-center gap-4 overflow-hidden">
          <span class="text-sm">Reclamada el 26-06-2024</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
