<div class="py-4">
  <div class="py-4 px-4 overflow-x-auto">
    <div class="inline-flex space-x-4">
      <div
        class="w-[152px] h-[82px] pt-3 px-0 flex justify-start items-start gap-2 rounded-lg bg-dark-2 shadow-card"
      >
        <div class="flex items-start pl-4">
          <img
            class="w-[24px] h-[24px]"
            src="/assets/img/logo_puntos.png"
            alt="puntos"
          />
        </div>
        <div
          class="flex items-start text-white text-lg font-bold leading-[26px]"
        >
          {{ points | number }}
        </div>
      </div>
      <div
        class="w-[152px] h-[82px] pt-3 px-0 flex gap-2 rounded-lg bg-white shadow-card"
      ></div>

      <div
        class="w-[152px] h-[82px] pt-3 px-0 flex gap-2 rounded-lg bg-white shadow-card"
      ></div>

      <div
        class="w-[152px] h-[82px] pt-3 px-0 flex gap-2 rounded-lg bg-white shadow-card"
      ></div>
    </div>
  </div>
</div>
