<app-navbar (isMenuOpen)="isMenuOpen($event)" />
<div *ngIf="!menuOpen">
  <div *ngIf="isReclamed">
    <div class="bg-dark">
      <img
        class="w-full object-cover object-center max-h-56"
        src="assets/img/business/el-raco-del-cremaet/gallery/04.webp"
      />
    </div>
    <div class="bg-dark text-white text-center pt-6 pb-12 px-4 relative">
      <h1 class="text-2xl font-bold mb-3">Cremaet Receta Secreta</h1>
      <p class="font-bold">El Racó del Cremaet</p>
      <p>Calle de Vetusta 25. Castellón</p>
      <div class="my-4" (click)="isReclamed = false" *ngIf="!isQrCode">
        <app-progress-bar [totalPoints]="400"></app-progress-bar>
      </div>
      <div class="flex justify-center my-4" *ngIf="isQrCode">
        <img src="assets/img/qrCode.png" />
      </div>

      <p>Válida hasta el 14-05-2024</p>
      <div
        class="header-shape flex absolute"
        style="background-image: url('assets/img/rewards/triangle.svg')"
      ></div>
    </div>

    <div class="px-4 pt-6 pb-8 flex flex-col gap-8">
      <button
        (click)="navigateToBusiness()"
        class="border border-stroke text-dark bg-gray-2 flex items-center justify-between rounded-lg p-4 w-full"
      >
        <div class="flex items-center gap-2">
          <img
            class="w-8 h-8"
            src="assets/img/business/el-raco-del-cremaet/logo.png"
          />
          <span class="text-sm font-bold">Ver El Racó del Cremaet</span>
        </div>
        <span class="material-symbols-outlined"> chevron_right </span>
      </button>

      <div>
        <h3 class="text-2xl font-bold mb-4">Descripción de la recompensa</h3>
        <div class="flex flex-col gap-2">
          <p>
            Sumérgete en el misterio y la tradición con nuestro Cremaet de
            Receta Secreta. Este brebaje, guardado bajo siete llaves, lleva
            consigo siglos de historia familiar, pasando de generación en
            generación hasta llegar a tu paladar.
          </p>
          <p>
            No es simplemente un trago, sino una puerta a un viaje en el tiempo.
          </p>
          <p>
            Únete al exclusivo club de conocedores que han tenido el placer de
            degustar este tesoro líquido.
          </p>
        </div>
      </div>
      <div class="grid grid-rows-2 grid-flow-col">
        <div class="aspect-square">
          <img src="assets/img/business/el-raco-del-cremaet/gallery/01.webp" />
        </div>
        <div class="aspect-square">
          <img src="assets/img/business/el-raco-del-cremaet/gallery/02.webp" />
        </div>
        <div class="aspect-square">
          <img src="assets/img/business/el-raco-del-cremaet/gallery/03.webp" />
        </div>
        <div class="aspect-square">
          <img src="assets/img/business/el-raco-del-cremaet/gallery/04.webp" />
        </div>
        <div class="aspect-square">
          <img src="assets/img/business/el-raco-del-cremaet/gallery/05.webp" />
        </div>
        <div class="aspect-square">
          <img src="assets/img/business/el-raco-del-cremaet/gallery/06.webp" />
        </div>
      </div>
      <div>
        <div>
          <h3 class="text-2xl font-bold mb-4">¿Cómo consigo la recompensa?</h3>
          <div class="flex flex-col gap-2">
            <p class="text-sm">
              Consigue los PUNTOS necesarios comprando en los comercios de
              Castellón.
            </p>
            <p class="text-sm">
              Una vez que los tengas se mostrará un QR en esta pantalla. Enseña
              el QR en el negocio para que lo escanee o introduzca el código y
              obtén tu recompensa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark max-content" *ngIf="!isReclamed">
    <app-reward-claim (isReclamed)="isReclamedOutput($event)" />
  </div>
</div>
