.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent #ffffff transparent;
  transform: rotate(0deg);
}

.header-shape {
  height: 15px;
  bottom:0;
  left: 0;
  right: 0
}

.max-content{
  height: calc(100vh - 64px);
}