<div>
  <img
    src="assets/img/business/el-raco-del-cremaet/gallery/06.png"
    width="100%"
  />
</div>
<div class="text-center text-white flex flex-col gap-6 p-12">
  <div>
    <p class="leading-6">Recompensa</p>
    <h6 class="font-semibold text-2xl leading-8">Cremaet Receta Secreta</h6>
  </div>
  <div>
    <p class="leading-6">Por</p>
    <p class="font-semibold text-2xl leading-8">1.000 PUNTOS</p>
  </div>
</div>
<div class="flex flex-col p-4 gap-4">
  <button (click)="goBack()" class="text-green border-green border rounded p-3">Cancelar</button
  ><button (click)="rewardReclamed()"  class="text-dark border-green bg-green border rounded p-3 flex justify-center gap-2">
    <img width="24px" src="/assets/img/logo_puntos.png">
   <p> Reclamar recompensa</p>
  </button>
</div>
