<app-navbar (isMenuOpen)="isMenuOpen($event)" />
<div  *ngIf="!menuOpen" >
  <div class="bg-dark text-white py-6 px-4 relative min-h-[350px] flex">
    <div class="relative z-10 flex flex-col">
      <div class="h-full">
        <img class="w-20 h-20 mb-6" src="assets/img/business/el-raco-del-cremaet/logo.png" />
        <h1 class="text-3xl font-bold mb-2">Racó del Cremaet</h1>
        <p>El cremaet de tota la vida</p>
      </div>

      <div class="flex items-center justify-between gap-4">
        <div>
          <p>Calle de Vetusta 25. Castellón.</p>
          <p>654 321 234</p>
        </div>
        <div class="flex gap-4">
          <img class="w-6" src="assets/img/icons/instagram.svg" />
          <img class="w-6" src="assets/img/icons/facebook.svg" />
        </div>
      </div>
    </div>

    <img class="absolute z-0 opacity-25 object-cover top-0 left-0 w-full h-full"
      src="assets/img/business/el-raco-del-cremaet/header.png" />
  </div>

  <div class="px-4 pt-6 pb-8 flex flex-col gap-8">
    <div>
      <h3 class="text-2xl font-bold mb-4">Descripción</h3>
      <div class="flex flex-col gap-2">
        <p>
          En el corazón de una ciudad vibrante y llena de vida, se esconde un
          rincón donde la tradición y el sabor se fusionan en un espectáculo de
          llamas y aromas embriagadores: El Racó del Cremaet. Este no es solo un
          negocio de carajillo quemado; es un templo dedicado al arte de
          transformar el café en una experiencia sensorial única.
        </p>
        <p>
          Te invitamos a descubrir El Racó del Cremaet, un rincón escondido donde
          cada sorbo es una historia, cada llama es una promesa, y cada visita es
          un regreso al hogar.
        </p>
        <p>
          Bienvenidos a nuestro templo del fuego, el café y el licor, donde la
          tradición se sirve con pasión.
        </p>
      </div>
    </div>

    <div>
      <h3 class="text-2xl font-bold mb-4">Top 3 clientes</h3>
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-4 w-full">
          <img class="w-12 h-12" src="assets/img/icons/gold-badge.png" />
          <div class="flex-1">
            <p class="font-bold">Rosa M.</p>
            <div class="flex flex-row w-full justify-between">
              <span class="text-xs font-normal">7 compras</span>
              <span class="text-xs font-normal">1.234 puntos</span>
            </div>
          </div>
        </div>

        <div class="flex items-center gap-4 w-full">
          <img class="w-12 h-12" src="assets/img/icons/silver-badge.png" />
          <div class="flex-1">
            <p class="font-bold">Toni R.</p>
            <div class="flex flex-row w-full justify-between">
              <span class="text-xs font-normal">5 compras</span>
              <span class="text-xs font-normal">976 puntos</span>
            </div>
          </div>
        </div>

        <div class="flex items-center gap-4 w-full">
          <img class="w-12 h-12" src="assets/img/icons/bronze-badge.png" />
          <div class="flex-1">
            <p class="font-bold">María L.</p>
            <div class="flex flex-row w-full justify-between">
              <span class="text-xs font-normal">12 compras</span>
              <span class="text-xs font-normal">712 puntos</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-bold mb-4">3 recompensas disponibles</h3>
      <app-reward-card [totalPoints]="800" [redeemed]="false" />
      <app-reward-card [totalPoints]="650" [redeemed]="false" />
      <app-reward-card [totalPoints]="1575" [redeemed]="false" />
    </div>
  </div>
</div>
