<div
  class="py-6 px-4 border-t border-b border-gray shadow-card overflow-x-auto"
>
  <div class="inline-flex space-x-4">
    <div
      class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg"
    >
      <img
        class="w-full h-full object-cover"
        src="/assets/img/products/coffee-1.png"
        alt="coffee-1"
      />
    </div>

    <div
      class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg"
    >
      <img
        class="w-full h-full object-cover"
        src="/assets/img/products/coffee-2.png"
        alt="coffee-2"
      />
    </div>

    <div
      class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg"
    >
      <img
        class="w-full h-full object-cover"
        src="/assets/img/products/coffee-3.png"
        alt="coffee-3"
      />
    </div>

    <div
      class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg"
    >
      <img
        class="w-full h-full object-cover"
        src="/assets/img/products/coffee-4.png"
        alt="coffee-4"
      />
    </div>
  </div>
</div>
