<div class="bg-dark p-3.5 px-4 flex justify-between items-center space-x-4 sticky top-0 z-10">
  <img
    *ngIf="isMainDirect"
    class="max-w-[38px] h-auto"
    src="/assets/img/logo.png"
    alt="cson"
  />
  <span *ngIf="!isMainDirect" class="material-symbols-outlined text-white"> arrow_left_alt </span>

  <div class="flex items-center gap-4 justify-end">
    <div class="flex items-center space-x-2 bg-dark-2 py-1 px-2 rounded-lg">
      <img
        class="max-w-[16px] h-auto"
        src="/assets/img/logo_puntos.png"
        alt="puntos"
      />
      <span class="text-white">{{ points }}</span>
    </div>

    <div class="flex items-center" (click)="navigateToMenu()">
      <span class="material-symbols-outlined text-white text-3xl">menu</span>
    </div>
  </div>
</div>
