<div *ngIf="bussiness">
  <div
    (click)="navigateToBusiness()"
    class="border-t border-b border-gray shadow-card py-4"
  >
    <!-- photos -->
    <div class="py-4 px-4 overflow-x-auto">
      <div class="inline-flex space-x-4">
        <!-- Avatar -->
        <div
          class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-full"
        >
          <img
            class="w-full h-full object-cover"
            src="{{ bussiness.logo }}"
            alt="coffee-1"
          />
        </div>
        <!-- next images (loop) -->
        <div
          class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg"
          *ngFor="let photo of bussiness.gallery"
        >
          <img
            class="w-full h-full object-cover"
            [src]="photo"
            alt="{{ bussiness.name }}"
          />
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="py-2 px-4">
      <p class="text-lg font-semibold leading-6 text-left text-dark">
        {{ bussiness.name }}
      </p>
      <p class="text-sm font-medium leading-[22px] text-dark-3">
        {{ bussiness.type }}
      </p>
    </div>

    <!-- address -->
    <div class="py-2 px-4 flex justify-between gap-2">
      <p class="text-sm font-medium leading-[22px]">
        {{ bussiness.location }}
      </p>
      <a class="text-sm font-medium leading-[22px] text-green" href="#"
        >Como llegar</a
      >
    </div>

    <!-- description -->
    <div class="py-2 px-4">
      <p
        class="text-sm font-normal leading-[22px] text-dark overflow-hidden text-justify"
        style="
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        "
      >
        {{ bussiness.description }}
      </p>
    </div>

    <!-- footer -->
    <div class="py-2 px-4 flex justify-between gap-2">
      <button class="bg-green px-2 py-1 flex gap-2 rounded-lg">
        <span class="text-dark text-xs font-medium leading-[20px] font-bold"
          >{{ bussiness.rewards.length }} recompensas</span
        >
      </button>
      <p
        class="text-sm font-medium leading-[22px] text-green-dark flex items-center"
      >
        Cierra a las {{ bussiness.schedule }}
      </p>
    </div>
  </div>
</div>
