<div (click)="navigateToBusiness()" class="border-t border-b border-gray shadow-card py-4">
  <!-- photos -->
  <div class="py-4 px-4 overflow-x-auto">
    <div class="inline-flex space-x-4">
      <!-- Avatar -->
      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-full">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-4.png" alt="coffee-1" />
      </div>

      <!-- next images (loop) -->
      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-2.png" alt="coffee-2" />
      </div>

      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-3.png" alt="coffee-3" />
      </div>

      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-1.png" alt="coffee-4" />
      </div>

      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-3.png" alt="coffee-4" />
      </div>

      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-1.png" alt="coffee-4" />
      </div>

      <div class="flex justify-center w-[111px] h-[111px] overflow-hidden rounded-lg">
        <img class="w-full h-full object-cover" src="assets/img/products/coffee-2.png" alt="coffee-4" />
      </div>
    </div>
  </div>

  <!-- title -->
  <div class="py-2 px-4">
    <p class="text-lg font-semibold leading-6 text-left text-dark">
      El Racó del Cremaet
    </p>
    <p class="text-sm font-medium leading-[22px] text-dark-3">Restauración</p>
  </div>

  <!-- address -->
  <div class="py-2 px-4 flex justify-between gap-2">
    <p class="text-sm font-medium leading-[22px]">
      Calle de Vetusta 25. Castellón
    </p>
    <a class="text-sm font-medium leading-[22px] text-green" href="#">Como llegar</a>
  </div>

  <!-- description -->
  <div class="py-2 px-4">
    <p class="text-sm font-normal leading-[22px] text-dark overflow-hidden text-justify" style="
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      ">
      En el corazón de una ciudad vibrante y llena de vida, se esconde un rincón
      donde la tradición y el sabor se fusionan en un espectáculo de llamas y
      aromas embriagadores: El Racó del Cremaet. Este no es solo un negocio de
      carajillo quemado; es un templo dedicado al arte de transformar el café en
      una experiencia sensorial única. El Racó del Cremaet no es solo un lugar
      para disfrutar de un excelente carajillo quemado; es un espacio donde cada
      visita se convierte en una historia para contar. Nuestro compromiso va más
      allá del sabor; buscamos crear momentos únicos que queden grabados en la
      memoria de quienes cruzan nuestro umbral. Te invitamos a descubrir El Racó
      del Cremaet, un rincón escondido donde cada sorbo es una historia, cada
      llama es una promesa, y cada visita es un regreso al hogar.
    </p>
  </div>

  <!-- footer -->
  <div class="py-2 px-4 flex justify-between gap-2">
    <button class="bg-green px-2 py-1 flex gap-2 rounded-lg">
      <span class="text-dark text-xs font-medium leading-[20px] font-bold">2 recompensas</span>
    </button>
    <p class="text-sm font-medium leading-[22px] text-green-dark flex items-center">
      Abierto hasta las 23:00
    </p>
  </div>
</div>