<div class="text-white justify-between flex flex-col h-screen">
  <div>
    <div class="flex items-center justify-center py-4">
      <img
        class="max-w-[57px] h-auto"
        src="/assets/img/logo.png"
      />
    </div>
    <div>
      <div class="gap-8 flex p-4 justify-between bg-dark-2">
        <div
          class="flex gap-2 justify-center items-center text-white font-bold w"
        >
          <img
            class="max-w-[24px] h-auto"
            src="/assets/img/logo_puntos.png"
          />
          <p>1.987 PUNTOS</p>
        </div>
        <div class="text-right">
          <span class="material-symbols-outlined text-gray-2">
            arrow_circle_right
          </span>
        </div>
      </div>
      <div (click)="navigateToMain()" class="flex flex-col m-4 font-medium">
        <div class="flex justify-between py-2">
          <p>Inicio</p>
          <div>
            <span class="material-symbols-outlined text-gray-2"> home </span>
          </div>
        </div>
        <div (click)="navigateToBusinesses()" class="flex justify-between py-2">
          <p>Ir de compras</p>
          <div>
            <span class="material-symbols-outlined text-gray-2">
              shopping_cart
            </span>
          </div>
        </div>

        <div (click)="navigateToRewardsCenter()" class="flex justify-between py-2">
          <p>Centro de recompensas</p>
          <div>
            <span class="material-symbols-outlined text-gray-2">
              social_leaderboard
            </span>
          </div>
        </div>
      </div>
      <div
        style="background-color: rgba(31, 42, 55, 1)"
        class="h-px m-4 bg-color"
      ></div>
      <div class="flex flex-col m-4 font-medium">
        <div (click)="navigateToHowItWorks()" class="flex justify-between py-2">
          <p>¿Cómo funciona?</p>
          <div>
            <span class="material-symbols-outlined text-gray-2"> help </span>
          </div>
        </div>
        <div class="flex justify-between py-2">
          <p>Contacto</p>
          <div>
            <span class="material-symbols-outlined text-gray-2"> mail </span>
          </div>
        </div>
        <div class="flex justify-between py-2">
          <p>Salir</p>
          <div>
            <span class="material-symbols-outlined text-gray-2"> logout </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="gap-8 flex p-4 justify-between">
      <div (click)="navigateToMain()" class="flex gap-2 justify-center items-center w">
        <p>Cerrar menú</p>
      </div>
      <div class="text-right">
        <span class="material-symbols-outlined text-gray-2"> close </span>
      </div>
    </div>
    <div class="gap-8 flex p-4 justify-between">
      <div class="flex  gap-4 justify-center items-center">
        <img src="/assets/svg/insta.svg" alt="Logo">
        <img src="/assets/svg/twitter.svg" alt="Logo">
        <img src="/assets/svg/facebook-fill.svg" alt="Logo">
      </div>
      <div class="flex p-4 justify-between gap-4">
       <p class="text-white">ES</p>
       <p class="text-gray-2">VA</p>
      </div>
    </div>
  </div>
</div>
