<app-main-header></app-main-header>
<app-business-card [bussiness]="business"></app-business-card>
<app-banner-points />

<div class="mb-3 p-4">
  <h3 class="text-3xl font-bold">Recompensas destacadas</h3>
  <a class="text-green" href="#">Ver todas</a>
</div>
<app-reward-card [totalPoints]="800" [redeemed]="false" image="assets/img/business/el-raco-del-cremaet/rewards/01.webp" name="Cremaet Tres Fuegos" />
<app-reward-card [totalPoints]="800" [redeemed]="false" image="assets/img/business/el-raco-del-cremaet/rewards/02.webp" name="Cremaet Premium" />
<app-reward-card [totalPoints]="800" [redeemed]="false" image="assets/img/business/el-raco-del-cremaet/rewards/03.webp" name="Mystic Burn" />
